{%extends 'news/base.html'%}

{% block content %}
<div class="container mx-auto">
    <div class="row mx-auto">
        {% for news_item in news %}
        <div class="col-sm-6 col-md-4 my-2">
            <div class="card" style="width: 18rem;">
                {% if news_item.article_img %}
                <img src="{{ news_item.article_img.url }}" class="card-img-top" alt="{{ news_item.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ news_item.title }}</h5>
                    <p class="card-text">{{ news_item.post|truncatechars:110 }}</p>
                    <p>
                        <small>by @{{ news_item.editor.first_name }}</small>
                    </p>
                    <a href="{% url 'article' news_item.id %}" class="btn btn-primary">Read</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}