{%extends 'news/base.html'%}

{% block content %}
<div class="container text-light">

    {% if article.article_img %}
    <div class="row">
        <img src="{{ article.article_img.url }}" class="card-img-top" alt="{{ article.title }}">
    </div>
    {% endif %}

    <div class="row">
        <h1 class="text-center">{{article.title}}</h1>
    </div>

    <div class="row">
        {% autoescape on %}
        {{article.post | safe}}
        {% endautoescape %}

    </div>

    <div class="row">
        <p>Posted {{article.pub_date|timesince}} ago by {{article.editor.first_name}}</p>
    </div>

</div>
{% endblock %}