<!doctype html>
{% load django_bootstrap5 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock styles %}

    <title>
        {% block title %}
        Home
        {% endblock %}
    </title>
</head>
<body>
{% include "news/navbar.html" %}

{% bootstrap_messages %}

{% block content %}
<h4 class='text-center my-1'>News for {{date|date:"l d-F Y"}}</h4>
{%endblock%}

{% block scripts %}
{% bootstrap_javascript %}
{% endblock scripts %}
</body>
</html>